/* _content/redwings/Views/Auth/Register.cshtml.rz.scp.css */
.gradient-custom-3[b-s94bpec0fn] {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .gradient-custom-4[b-s94bpec0fn] {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
/* _content/redwings/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-1zyz8zjidc] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-1zyz8zjidc] {
  color: #0077cc;
}

.btn-primary[b-1zyz8zjidc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1zyz8zjidc], .nav-pills .show > .nav-link[b-1zyz8zjidc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1zyz8zjidc] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1zyz8zjidc] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1zyz8zjidc] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1zyz8zjidc] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1zyz8zjidc] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
