@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <b><span style="color: red;">RED</span>-WINGS.com</b></h1>

    <div><img src="/images/blood-d.png" width="250" height="300" ></div>
    <div>
        <h2 style="color: red;"><i>Blood donation will cost you nothing, but it will save a life!</i></h2>
    </div>
</div>
